// per default, here stylesheets for mobile devices only
// breakpoint: X-small
// Class inifix: None
// Dimensions <576px

.__mainmenu {
  .navbar-collapse {
    .navbar-nav {
      .nav-item {
        .dropdown-toggle-btn {
          padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
          background: none;
          cursor: pointer;
          display: inline-flex;
          align-items: center;
          border-width: 1px;
          border-style: solid;
          border-color: transparent;

          &:hover {

          }

          &:focus {

          }

          &:focus-visible {

          }

          &:active {

          }
        }

        .nav-link {
          display: inline-flex;
          border-width: 1px;
          border-style: solid;
          border-color: transparent;

          &:hover {

          }

          &:focus {

          }

          &:focus-visible {

          }

          &:active {

          }

          &.active {

          }

          &.current {

          }
        }

        &.dropdown {
          .nav-link {

          }

          .dropdown-menu {
            li {
              .dropdown-item {
                &.active,
                &.current {
                  &:focus,
                  &:focus-visible,
                  &:hover {

                  }
                }
              }
            }
          }
        }
      }
    }
  }


  @media(min-width: 576px) {
    // breakpoint: Small
    // Class inifix: sm
    // Dimensions ≥576px

  }


  @media(min-width: 768px) {
    // breakpoint: Medium
    // Class inifix: md
    // Dimensions ≥768px

  }

  @media(min-width: 992px) {
    // breakpoint: Large
    // Class inifix: lg
    // Dimensions ≥992px

  }

  @media(min-width: 1200px) {
    // breakpoint: Extra large
    // Class inifix: xl
    // Dimensions ≥1200px

  }

  @media(min-width: 1400px) {
    // breakpoint: Extra extra large
    // Class inifix: xxl
    // Dimensions ≥1400px
    // this Dimension requires bootstrap v5

  }

  @media(min-width: 1600px) {

  }

  @media(min-width: 1920px) {
    // breakpoint:
    // Class inifix: FullHD
    // Dimensions ≥1920px

  }

  @media(min-width: 2560px) {
    // breakpoint:
    // Class inifix: WQHD
    // Dimensions ≥2560px

  }
}
